*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#fb2626 0%, #FB2626 0.01%, #D9D9D9 89.06%);
    background-repeat: no-repeat;
}
h2{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 26px;
}
/* stylecodes for the phoneNumber block */
.phn_no{
  display: flex;
  margin: 20px 250px 10px 250px;
  border: solid 2px black;
  border-radius: 10px;
  padding: 30px 0px 30px 0px;
  background-color: white;
}
.phn_no_1{
    padding: 0px 0px 0px 50px;
}
.phn_no_1 span{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.phn_no_2{
    border: solid thin black;
    border-radius: 2px;
    padding: 0px 50px 0px 50px;
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}
.phn_no_ed{
    margin-left: 300px;
    color: red;
    font-size: 20px;
    cursor: pointer;
}
/* stylecodes for the payment details block */
.pay_det{
    display: flex;
    margin: 20px 250px 10px 250px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 30px 0px 30px 0px;
    background-color: white;
}
.pay_det_1{
    padding: 0px 0px 0px 50px;
}
.pay_det_1 span{
    font-size: 20px;
    font-weight: 600;
}
.pay_det_2{
    margin-top: 10px;
    font-size: 16px;
}
.pay_det_ed{
    margin-left: 300px;
    color: red;
    font-size: 20px;
    cursor:pointer;
}
/* stylecodes for order details block */
.ord_det{
    margin: 20px 300px 10px 300px;
    border: solid 2px black;
    border-radius: 10px;
    padding: 100px 0px 100px 0px;
    background-color: white;
    box-shadow: 5px 7px rgba(0, 0, 0, 0.628);
}
.ord_det span{
    margin-left:50px;
    font-weight: 600;
    font-size: 20px;
}
/* stylecodes for quantity, order description, and bills */
.ord_det_tab_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 50px 5px 50px;
    margin: 30px;
    font-size: 18px;
    color: black;
}
/* stylecodes for subtotal */
.ord_det_tab_2{
    display: flex;
    justify-content: space-between;
    padding: 5px 90px 5px 90px;
    font-size: 18px;
    font-weight: 600;
}
/* stylecodes for vat */
.ord_det_tab_3{
    display: flex;
    justify-content: space-between;
    padding: 5px 90px 5px 90px;
    font-size: 18px;
    font-weight: 600; 
}
/* stylecodes for delivery fee */
.ord_det_tab_4{
    display: flex;
    justify-content: space-between;
    padding: 5px 90px 5px 90px;
    font-size: 18px;
    font-weight: 600;
}
/* stylecodes for total */
.ord_det_tab_5{
    display: flex;
    justify-content: space-between;
    padding: 5px 90px 5px 90px;
    font-size: 18px;
    font-weight: 600;
}
/* stylecodes for delivery address */
.ord_det_tab_6{
    padding: 35px 90px 35px 90px;
    font-size: 18px;
}
.ord_det_tab_add{
    font-weight: 600;
}
/* stylecodes for vendor */
.ord_det_tab_7{
    padding: 35px 90px 35px 90px;
    font-size: 18px;
}
.ord_det_tab_ven{
    font-weight: 600;
}
/* stylecodes for order id */
.ord_det_tab_8{
    padding: 35px 90px 35px 90px;
    font-size: 18px;
}
.ord_det_tab_id{
    font-weight: 600;
}
.ord_det_tab_id_2{
    font-size: 18px;
}
/* stylecodes for button */
button{
    font-size: 25px;
    padding:10px 70px 10px 70px;
    text-align: center;
    margin: 100px 450px 200px 450px;
    background-color: red;
    color:white;
    border-radius: 10px;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.628);
    transition: ease-in-out 0.5s;    
}
button:hover{
    background-color: rgb(128, 6, 6);
}