
.side {
    background-color: #F50D1B;
    padding: 20px;
}
.fig {
    color: white;
    /* text-align: center; */
    text-align: start;
    margin-bottom: 5rem;
    cursor: pointer;
}
.fig:hover {
    color: #000;
}
.bol {
    background-color: #D9D9D9;
    outline: none;
    color: #000;
    border: none;
}
input {
    border-radius: 5px;
    background-color: #D9D9D9;
}
::placeholder {
    color: #000;
    text-align: center;
    padding: 10px;
}
a {
    color: white;
}
a :hover {
    color: #000;
}
